
### NOT WORKING

[Unit]
Description=Docker Container Monitor and Restarter
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/root/pilgrim-staging-backend-docker/docker_restart.sh

[Install]
WantedBy=multi-user.target

#sudo systemctl enable docker_restart.service
#sudo systemctl start docker_restart.service